:root {
    --main-color: #db504a;
    --secondary-color: #4f6d7a;
}
.site-logo {
    display: inline-block;
    background-color: var(--main-color);
    padding: 0 7px;
    margin-top: 6px;
    border-radius: 15px;
    @media screen and (max-width: 575px) {
      width: 80%;
      max-width: 240px;
      .logo {
        width: 40px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 120%;
      margin-top: 19px;
      .logo {
        width: 30px;
      }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      width: 100%;
    }
    img {
        width: 50px;
        display: inline-block;
        margin-top: -30px;
        color: #fff;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          margin-top: -17px;
        }
    }
    h1 {
        display: inline-block;
        font-family: 'Dosis', sans-serif;
        color: #fff;
        font-size: 54px;
        margin-top: -20px;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          font-size: 35px;
        }
        @media screen and (max-width: 575px) {
          font-size: 45px;
        }
        a {
          color: inherit;
        }
    }
}
.course-item {
  a {
    color: inherit;
  }
  .course-thumb {
    position: relative;
    > a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .course-author {
    .ca-pic {
      position: relative;
      a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
#cookieModal {
  .modal-footer {
    .btn-success {
      background-color: var(--main-color);
      border-color: transparent;
    }
  }
}
.privacy-policy-page h6 {
  margin: 20px 0 10px;
}
