.profile-page {
  margin-bottom: 100px;
  .avatar {
    @media (max-width: 991px) {
      width: 92px;
      margin-bottom: 30px;
    }
  }
  .site-btn {
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}
