#curso-descripcion {
  h4 {
    margin-top: 40px;
  }
}
.course-meta .cm-info p a {
  color: var(--main-color);
}
.course-reviews {
  margin-bottom: 30px;
  h5 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 17px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  .review-user {
    margin-bottom: 5px;
    display: inline-block;
  }
  .ca-pic {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
  }
  .course-review {
    margin-bottom: 20px;
    position: relative;
    &:hover .delete-review {
      display: inline-block;
    }
    &.course-review-empty {
      display: none;
    }
  }
  .add-review {
    color: var(--main-color);
    font-size: 30px;
    margin-left: 10px;
    margin-top: -3px;
    vertical-align: middle;
    display: inline-block;
  }
  .rating {
    display: block;
  }
  .review-form {
    padding: 0;
    display: none;
    .rating {
      font-size: 27px;
      vertical-align: middle;
      @media (min-width: 768px) {
        font-size: 16px;
      }
      i {
        cursor: pointer;
      }
    }
    label[for=valoracion] {
      margin-right: 20px;
      margin-bottom: 10px;
    }
    #valoracion {
      display: none;
    }
    .save-review {
      display: block;
    }
  }
  .delete-review {
    display: none;
    margin-left: 10px;
    cursor: pointer;
    color: var(--main-color);
    font-size: 18px;
    background-color: var(--main-color);
    color: #fff;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
