.login-logo, .register-logo {
  .site-logo {
    width: auto;
    img {
      margin-top: -26px;
    }
    h1 {
      margin-bottom: 0;
      font-size: 44px;
    }
  }
}
.subform div {
  @media (max-width: 380px) {
    max-width: 100%;
    flex: 100%;
  }
}
